
<br  />
<br  />
<div class="row">
				<br>
				<h1 class="centered">Nueva cancion</h1>
				<hr>
				<br>
<br  />
<br  />

</div><!-- /row -->

<div id="greywrap">
<%= render 'form' %>

<%= link_to 'Back', albums_path %>
  </div>
<br  />
<br  />