<br  />
<br  />
<div class="row">
				<br>
				<h1 class="centered">Nuevo Post</h1>
				<hr>
				<br>
    <div id="greywrap">
			<div class="container">
				
					<div class="col-lg-4 callout">
            <h1>Ingresa los datos</h1>

            <%= render 'form' %>

            <%= link_to 'Regresar a los Post', posts_path %>
            <br  />
            <br  />
            
            </div>
				 
       </div>
		</div>

