<!-- ==== SERVICES ==== -->
		<div class="container" id="services" name="services">
			<br>
			<br>
      <br>
      <br>
      <br>
			<div class="row">
				<h2 class="centered">Grupo 5ta Esencia </h2>
				<hr>
				<br>
        <br>
        <br>
				<div class="col-lg-offset-2 col-lg-8">
					<p>Somos un grupo musical que busca ser distinguido, renombrado y demandado por lo que buscamos la atenci칩n de los m치s exigentes clientes y asi lograr una buena acreditaci칩n y reconocimiento a nivel internacional. 
					</p>
					<p>Somos orgullosamente un grupo musical que toca varios tipos de musica asi como lo es la musica norte침a, cumbias, corridos. Toda clase de musica para bailar.</p>
					<p>Tambien contamos con servicio de DJ totalmente gratuito con la contratacion del grupo musical 5 Esencia.</p>
				</div><!-- col-lg -->
			</div><!-- row -->
      <br>
      
			
			<div class="row">
				<h2 class="centered">Grupo musical de Chihuahua.</h2>
				<hr>
				<br>
        <br>
        <br>
				
			</div><!-- row -->
		</div><!-- container -->
